/* Mobile Device */
@media screen and (max-width: 500px) {
/* common style */
    .nav-container,
    .menubar,
    .card-container,
    .play-section
{
        flex-direction: column;
        /* width: 100%; */
        margin: 0;
    }

    /* banner section */

    .banner-container {
        flex-direction: column;
        padding: 40px 0;

    }

    .banner-content {
        width: 100%;
        text-align: center;
    }

    .btn-design {
        margin: 0 auto;
        /* margin-left: 15px; */
    }

    .menubar .btn-primary{
        margin-bottom: 30px;
    }

    /* Card section */
    .card-section {
        margin: 0;
        text-align: center;
    }

    .card-header>h3 {
        font-size: 1.8rem;
    }

    .card-header>p {
        font-size: 14px;
    }

    .card-container {
        width: 100%;
        /* margin: 0;
        padding: 0; */
    }

    
    .play-btn {
        right: 183px;
        top: 2011px;
        text-align: center;
    }

/* play games section */

    .play-section-title>h3{
        width: 100%;
        text-align: center;
    }

    .play-section-title .play-description{
        width: 100%;
        text-align: center;
    }

    

    .play-img img{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        margin-left: 84px;
    }

    .play-img .side-img{
        top: 3264px;
        left: -38px;
        width: 40%;
    }

/* Game Icon section */
   
    .game-option{
        gap: 5px;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: 100%;
        
    }

    .game-option .game-icon a img {
        margin-right: 4px;
        height: 16px;
    }

    .game-option .game-icon a {
        color: #0B0223;
        font-size: 8px;
      }

   


     
      .game-option .game-icon {
        border: 1px solid #ff42a400;
        padding: 5px;
        
      }
    
    





     /* Footer section */
    .menu-option>ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        
       
    
    }

    .icon-section{
        display: grid;
        grid-template-columns: repeat(3, auto);
        
       
    }

    .terms-condition>ul{
        display: grid;
        grid-template-columns: repeat(2, auto);
        text-align: center;
       font-size: 12px;
       margin-right: 50px;
    }


      
}


/* tablet Device */

@media screen and (min-width: 501px) and (max-width: 962px) {
/* common */
    .nav-container,
    .menubar,
    .card-container,
    .play-section {
        flex-direction: column;
        /* width: 100%; */
        margin: 0;
    }

    .menubar .btn-primary{
        margin-bottom: 30px;
    }

    /* banner section */

    .logo-title {
        width: 35%;
    }

    .banner-container {
        flex-direction: column;
        padding: 40px 0;

    }

    .banner-content {
        width: 100%;
        text-align: center;
    }

    .btn-design {
        margin: 0 auto;
        /* margin-left: 15px; */
    }

    /* card section */
    .card-section {
        margin: 0;
        text-align: center;
    }

    .card-header>h3 {
        font-size: 1.8rem;
    }

    .card-header>p {
        font-size: 14px;
    }

    .card-container {
        width: 100%;
        /* margin: 0;
        padding: 0; */
    }

    .play-btn {
        right: 366px;
        top: 2155px;
        text-align: center;
    }

    /* Play game section */
    .play-section-title>h3{
        width: 100%;
        text-align: center;
    }

    .play-section-title .play-description{
        width: 100%;
        text-align: center;
    }

    

    .play-img img{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        margin-left: 84px;
    }

    .play-img .side-img{
        top: 3464px;
        left: -38px;
        width: 40%;
    }


    /* Game icon section */
    .game-option{
        gap: 5px;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(5, auto);
        width: 100%;
    }

    .game-option .game-icon a img {
        margin-right: 4px;
        height: 16px;
    }

    .game-option .game-icon a {
        color: #0B0223;
        font-size: 8px;
      }

     
      .game-option .game-icon {
        border: 1px solid #ff42a400;
        padding: 5px;
        
      }



    /* Footer section */

    .footer-logo{
        width: 100%;
    }






}