/* Mobile Device */
@media screen and (max-width: 500px) {
    .nav-container, .menubar{
        flex-direction: column;
        /* width: 100%; */
        margin: 0;
    }

    .banner-container{
        flex-direction: column;
        padding: 40px 0;
       
    }

    .banner-content{
        width: 100%;
        text-align: center;
    }

    .btn-design{
        margin: 0 auto;
        /* margin-left: 15px; */
    }
}