/* work sens front from google */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.banner-content .banner-title {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.btn-design {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    margin-right: 20px;
}

/* navbar section */

.nav-container {
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.logo-title {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 20px;
}

.logo-title img {
    width: 80px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;


}

span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-title p {
    font-size: 2.8rem;
    font-weight: 700;
}

.menubar {

    display: flex;
    justify-content: space-around;
    font-weight: 500;
    font-size: 1.2rem;
    gap: 35px;
    align-items: center;
}

.menubar a {
    text-decoration: none;
}

.btn-primary {
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    width: 245px;
}

.btn-primary .fa-brands {
    margin-right: 4px;
    font-size: 21px;
}

/* Banner section starts */
.banner-container {
    /* margin: 20px 200px; */
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.fa-regular,
.fa-download {
    color: #F948B2;
}

.banner-content {
    width: 50%;
}

.banner-content>h3 {
    margin: 0;
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content>h2 {
    margin: 0;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-img {
    width: 50%;

}

.banner-img img {
    width: 100%;
}

.btn-secondary {
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-third {
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
}

/* card section */

/* card hover start */

.image {
    position: relative;
    width: 400px;

}

.image__img {
    display: block;
    width: 100%;


}

.image_overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;

}


.image_overly>* {
    transform: translateY(20px);
    transition: transform 0.25s;

}

.image_overly:hover {
    opacity: 1;
    border: 3px solid #F948B2;

}

.image_overly:hover>* {
    transform: translateY(0);
}

.image_title {
    font-size: 2rem;
    font-weight: bold;
}

.image_description {
    font-size: 1.25em;
    margin-top: 0.25em;
}



/* card hover End */



.card-header {
    margin-top: 60px;
    text-align: center;
}

.card-section {
    margin: 0 200px;
    /* width: 1200px; */
}

.card-container {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 20px;
    /* width: 1200px; */


}

.card-container img {
    width: 240px;
}

.card-header>h3 {
    margin: 0;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;

}

.card-header .funny-games {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-header>p {
    margin: 10px 0 30px 0;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    height: 30px;
}



.play-btn {
    /* align-items: center;
    margin: 0 auto; */
    position: absolute;
    right: 550px;
    top: 900px;
    width: 40px;
    text-align: center;
    /* padding: 50px 50px; */
}

.play-btn .button-img {
    width: 40px;

}


.watch-now-title {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-right: -90px;
    margin-left: -100px;



}

.for-hover:hover {
    border-radius: 16px;
    border: 3px solid #fe41a4;
}

/* Play section */
.play-section {
    margin: 50px 200px 0 300px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.play-img img {
    width: 100%;
}

.play-img .side-img {
    position: absolute;
    top: 1916px;
    left: 744px;
    width: 13%
}

.play-section-title>h3 {
    text-align: right;
    width: 70%;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 60px;

}

.play-section-title .play-description {
    width: 70%;
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
}



/* game icon section  */

.all-game-feature {
    margin: 90px 0 0 0;
    padding: 100px 100px 90px 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.game-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}



.game-option .game-icon a img {
    height: 40px;
    margin-right: 10px;
}


.game-option .game-icon {

    text-align: center;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s ease;

}

.game-icon:hover {
    border: 1px solid #F948B2;
    transform: translateY(-5px);
}

.game-option .game-icon:hover a {
    color: #FF42A5;
}

.game-option .button-name {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.game-option .game-icon a {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
}


.gammer-title {
    text-align: right;
    font-size: 1rem;
}

.gammer-des {
    text-align: right;
}


.gammer-heading .gammer-des2 {
    text-align: right;
    color: #534C64;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.gammer-des2 {
    font-size: 12px;
}






/* footer section */
.footer-section {
    background: #0B0223;

}

.footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.logo-title .footer-header {
    color: #FFF;

}

.menu-option>ul {
    margin-top: 0;
    color: #FFF;
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 50px;
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;

}

.icon-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    /* width: 100px; */
}

.icon-section .fa-brands {
    font-size: 1.8rem;
    text-align: center;
}

.terms-condition>ul,
.water-mark {
    margin: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 50px;

    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

}

.water-mark {
    margin-bottom: 0;
    padding-bottom: 70px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;


}

/* Second banner section */

.we-are-gammer {
    align-items: center;
    width: 50%;
    padding-top: 3rem;
}

.we-are-gammer .gammer-title {
    text-align: right;
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: lowercase;

}

.we-are-gammer .gammer-des {
    text-transform: unset;
    width: 500px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.we-are-gammer .btn-secondary {
    margin-left: 17.1rem;
    margin-top: 1.2rem;
}

.we-are-gammer .gammer-heading {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 45px;
}

.we-are-gammer .gammer-des2 {
    color: #080808 !important;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
}